{% extends 'base.html' %}
{% load static %}

{% block content %}
	
	{% for img in recipe.image.all %}
		<img src="{{ img.file.url }}" alt="{{ img.description }}">
	{% endfor %}
		
	<p> <a href="{% url 'ledger:image_add' recipe.pk %}"> <button type="submit"> Add Image </button> </a> </p>
	<h3>{{recipe.name}}</h3>
	<p>Recipe by: {{recipe.author.name}}</p>
	<p>Created on: {{recipe.createdOn}}</p>
	<p>Last updated: {{recipe.updatedOn}}</p>
	{% for ingredient in recipe.ingredients.all %}
		<ul>
			<li> {{ingredient.ingredient.name}}, {{ingredient.quantity}} </li>
		</ul>
	{% endfor %}

{% endblock %}